*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

.personaje-selection {
    width: 100%;
    padding: 1rem;
}

/* =========================
   TARJETA
   ========================= */

.personaje-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/* Título */

.personaje-card__title {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #f925da;
    cursor: pointer;
}

/* Texto */

.texto-personaje {
    display: block;
    font-size: 1rem;
    color: #e8e8e8;
}


/* =========================
   CONTENIDO
   Imagen + texto
   ========================= */

.personaje-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


/* =========================
   IMÁGENES
   ========================= */

.personaje-card__mago,
.personaje-card__constructor,
.personaje-card__chef {
    width: 30%;
    height: auto;
    border-radius: 2rem;
}


/* =========================
   768px
   ========================= */

@media (min-width: 768px) {

    .personaje-card {
        flex-direction: column;
        align-items: center;
    }

    .personaje-card__title {
        margin-bottom: 1rem;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: #f925da;
    }

    .personaje-card__mago,
    .personaje-card__constructor,
    .personaje-card__chef {
        width: 20%;
    }

    .texto-personaje {
        display: block;
        font-size: 1.2rem;
        color: #e8e8e8;
    }
}


/* =========================
   1024px
   ========================= */

@media (min-width: 1024px) {

    /* El título queda arriba */

    .personaje-card {
        flex-direction: column;
        align-items: center;
    }

    /* Imagen y texto quedan al lado */

    .personaje-card__content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }

    .personaje-card__mago,
    .personaje-card__constructor,
    .personaje-card__chef {
        width: 37%;
    }

    .texto-personaje {
        max-width: 400px;
        font-size: 1.2rem;
        line-height: 1.5;
    }
}